<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Прогноз Цветка</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Введите параметры цветка для получения прогноза:</p>
    <form method="post" action="/predict">
        <label for="sepal_length">Длина чашелистика:</label>
        <input type="" name="sepal_length" required>
        <br>
        <label for="sepal_width">Ширина чашелистика:</label>
        <input type="" name="sepal_width" required>
        <br>
        <label for="petal_length">Длина лепестка:</label>
        <input type="" name="petal_length" required>
        <br>
        <label for="petal_width">Ширина лепестка:</label>
        <input type="" name="petal_width" required>
        <br>
        <button type="submit">Предсказать</button>
    </form>
</body>
</html>
